body{
	background-color: #f4f4f4;
	margin:0;
	font-weight: 300;
	font-family: "courier new", courier, monospace;
}
.NavBar{
	width: 80%;
	margin:0 auto;
	height: 50px;
}

header{
	background: #ffccff;
}
/*header::after {
	content: '';
	display: table;
	clear: both;
}*/
nav{
	float: right;
}
nav ul {
	margin:0;
	padding:0;
	list-style: none;
}
nav li{
	display:inline-block;
	margin-left: 70px;
	padding-top: 25px;

	position: relative;
}
nav ul li a{
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
}
nav a:hover{
color: #ffffff;
}

nav a::before{
	content: '';
	display: block;
	height: 3px;
	background-color: #000;

	position:absolute;
	top:0;
	width: 0%;

	transition: all ease-in-out 250ms;
}
nav a:hover::before {
	width: 100%;
}
.banner1{
	width: 90%;
	height: 400px;
	margin: 5%;
	margin-top: 20px;
	border: #000 solid 10px;
}
.banner1 h1{
	margin:0;
	padding: 0;
	font-size: 100px;
	text-align: center;
	line-height: 400px;
}
.ShopByCat{
	margin:0;
	padding:0;
	width: 100%;
	height: 70px;
}
.ShopByCat p{
	font-weight: 400;
	font-size: 50px;
	text-align: center;
	line-height: 70px;
}
.CatSec{
	width: 1190px;
	min-height: 300px;
	background: #c1c1c1;
	margin: 70px auto 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.CatSec .box{
	position: relative;
	width: 275px;
	height: 275px;
	background: #fff;
	margin: 10px;
	box-sizing: border-box;
	display: inline-block;
}
.CatSec .box .CatSecImg{
	position: relative;
	overflow: hidden;
}
.CatSec .box .CatSecImg img{
	max-width: 100%;
	transition: transform 2s;
}
.CatSec .box:hover .CatSecImg img{
	transform: scale(1.2);
}
 .CatSec .box .CatName{
 	position: absolute;
 	top: 10px; 
 	left: 10px;
 	bottom: 10px;
 	right: 10px;
 	background: rgba(0,0,0,.8);
 	transform: scaleY(0);
 	transition: tranform .5s;
 }
 .CatSec .box:hover .CatName{
 	transform: scaleY(1);
 }
 .CatSec .box .CatName .content1{
 	position: absolute;
 	top: 50%;
 	transform: translateY(-50%);
 	text-align: center;
 	padding: 15px;
 	color: #fff;
 }
 .CatSec .box .CatName .content1 h1{
 	margin: 0;
 	padding: 0;
 	font-size: 20px;
 }
 .foot{
 	background-color: #a0a0a0;
 	width: 100%;
 	height: 110px;
 	margin:0;
 	padding: 0;
 	margin-top: 90PX;
 	float: left;
 }
 .sticker{
 	margin:0;
 	padding: 0;
 	width: 35%;
 	height: 109px;
 	padding-bottom: 0;
 	float: left;
 }
 .sticker h1{
 	line-height: 80px;
 	margin-left: 17%;
 }
.sticker2{
	float: left;
	margin: 0;
	padding: 0;
}
.sticker2 ul{
	list-style: none; 
}
.sticker2 li{
	font-size: 15px;
}
.copy{
	text-align: center;
}
.cats{
	background-color: #eeeeee;
}
.cats1{
	width: 70%;
	height: 45px;
	border: 5px #000 solid;
	margin-left:15%;
	margin-right: 15%;
	margin-top:25px; 
}
.cats1 p{
	text-align: center;
	font-size: 35px;
	margin: 0;
	padding: 0;
	line-height: 44px;
}
.cats a{
	text-decoration: none;
	color: #000;
}
.cats1:hover{
	border: 7px #fff solid;
	background-color: #7e7e7e;
}
.cats a:hover{
	color: #fff;
}
.latestItemContainer{
	background-color: #eeeeee;
	margin-right: auto;
	margin-left:auto;
	width: 610px;
	height: 700px;
	margin-top:50px;
}
.latestItemContainer a{
 	color: #000; 
}

.PageHeading{
	text-align: center;
}
#beautyContainer{
	background-color: #dbdbdb;
	width: 1200px;
	height: 7400px;
	margin:auto;
	margin-top: 50px;
}
.beddingContainer{
	background-color: #dbdbdb;
	width: 1200px;
	height: 3600px;
	margin:auto;
	margin-top: 50px;
}
.homeContainer{
	background-color: #dbdbdb;
	width: 1200px;
	height: 1950px;
	margin:auto;
	margin-top: 50px;
}
.clothingContainer{
	background-color: #dbdbdb;
	width: 1200px;
	height: 1400px;
	margin:auto;
	margin-top: 50px;
}
.ProductContainer:hover{
 	background-color: #e0e1e1;
}
.ProductContainer{
	width: 1150px;
	height: 253px;
	margin-right: 25px;
	margin-left: 25px;
	margin-top: 20px;
	float: left;
}
.imgContainter{
	width: 250px;
	height:250px;
	float: left;
}
.imgContainter img{
	width: 249px;
	height:249px;
}
.box1{
	width: 300px;
	height:250px;
	float: left;
	margin-left: 40px;
}
.box2{
	width: 300px;
	height:190px;
	float: right;
	margin-top: 70px;
}
span{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	display: inline-block;
	margin-right: 30px;
}
.buy{
	background-color: #ff56ff;
}
.buy p{
	line-height: 70px;
	text-align: center;
	color: #fff;
}
.buy:hover{
	background-color: #fff;
	border: 1px solid #ff56ff;
}
.buy p:hover{
	color: #ff56ff; 

}
.cart{
	background-color: #000;
}
.cart:hover{
	background-color: #fff;
	border: 1px solid #000;
}
.cart p:hover{
	color: #000;
}
.cart p{
	line-height: 70px;
	text-align: center;
	color: #fff;
}